<turbo-frame id="modal">
  <div class="fixed inset-0 bg-black/50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-md w-96">
      <h2 class="text-xl font-bold mb-4">Return <%= @rental.rental_items.first.book_copy.book.title %></h2>

      <%= form_with url: perform_return_rental_path(@rental), method: :patch, data: { turbo_frame: "_top" } do %>
        <p class="text-gray-700 mb-4">Are you sure you want to return this book?</p>

        <div class="flex justify-end space-x-2 mt-4">
          <%= submit_tag "Confirm Return", class: "px-4 py-1 bg-red-400 text-sm text-white rounded hover:bg-red-500" %>
          <%= link_to "Cancel", "#", data: { turbo_frame: "modal" }, class: "px-4 py-1 text-sm bg-gray-200 rounded" %>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
